[Desktop Entry]
Version=1.0
Type=Application
Name=EndeavourOS log tool
Comment=create and provide logs for rescue
Exec=/usr/bin/eos-log-tool
Icon=preferences-system-network-server-share
Path=
Terminal=false
StartupNotify=false
