[Unit]
Description=Nvidia Modules installer
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target graphical.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/nvidia-modules-installer

[Install]
WantedBy=multi-user.target
