[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=set_once
Comment=set up xed once
Exec=sh -c ~/.xset.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
