window.xfce4-panel widget > box > button > image{
   padding: 0.2em 0.16em;  -gtk-icon-transform: scale(0.8);
}


window#whiskermenu-window treeview>* {
  padding:0.2em 0.16em;
}

VteTerminal, vte-terminal {
    padding: 13px;
}
