[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Comment=Calamares — System Installer
Keywords=calamares;system;installer;
TryExec=eos-welcome
Exec=eos-welcome
Categories=Qt;System;
Icon=calamares
Terminal=false
SingleMainWindow=true
StartupNotify=true
X-AppStream-Ignore=true
X-XFCE-Source=file:///usr/share/applications/calamares.desktop
