[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=EndeavourOS log tool
Comment=Log tool to send selected system logs to the internet
Comment[de]=Log-Tool zum Teilen ausgewählter Systemprotokolle über das Internet
Comment[es]=Herramienta de registro para enviar registros del sistema seleccionados a Internet
Comment[fi]=Jaa valitsemasi järjestelmälokit internetiin muiden nähtäväksi
Comment[fr]=Outil de journalisation pour envoyer les journaux système sélectionnés à Internet
Comment[it]=Strumento di registro per inviare i registri di sistema selezionati a Internet
Comment[jp]=選択したシステムログをインターネットに送信するログツール
Comment[ko]=선택한 시스템 로그를 인터넷으로 전송하는 로그 도구
Comment[pt_BR]=O instrumento de log para enviar sistema selecionado registra em log à Internet
Comment[ru]=Инструмент журнала для отправки выбранных системных журналов в Интернет
Comment[sv]=Loggverktyg för att skicka valda systemloggar till Internet
Comment[tr]=İnternet'e seçilen sistem günlüklerini göndermek için günlük aracı
Comment[zh_CN]=用于将选定的系统日志发送到互联网的日志工具
Exec=/usr/bin/eos-log-tool
Icon=utilities-log-viewer.svg
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
