LABEL eos64
TEXT HELP
Boot the EndeavourOS install medium on BIOS.
It allows you to install EndeavourOS or perform system maintenance.
ENDTEXT
MENU LABEL EndeavourOS default (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G copytoram=n nouveau.modeset=1 module_blacklist=nvidia,nvidia_modeset,nvidia_uvm,nvidia_drm,pcspkr i915.modeset=1 radeon.modeset=1 nvme_load=yes

# Nvidia propritary (Non-Free)
LABEL eos64nv
TEXT HELP
Boot the EndeavourOS install medium on Bios NVIDIA-NONFREE driver LATEST-CARDS NO-LEGACY
It allows you to install EndeavourOS or perform system maintenance.
ENDTEXT
MENU LABEL EndeavourOS NVIDIA (latest cards, x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G copytoram=n nvidia nvidia-drm.modeset=1 nouveau.modeset=0 module_blacklist=nouveau,pcspkr i915.modeset=1 radeon.modeset=1 nvme_load=yes

# Fallback (nomodeset)
LABEL eos64fb
TEXT HELP
Boot the EndeavourOS install medium on Bios in fallback mode
It allows you to install EndeavourOS or perform system maintenance.
ENDTEXT
MENU LABEL EndeavourOS Fallback (nomodeset, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G copytoram=n module_blacklist=nvidia,nvidia_modeset,nvidia_uvm,nvidia_drm,pcspkr nomodeset nvme_load=yes
