[Desktop Entry]
Comment=
Name=Breeze Dark EndeavourOS
X-KDE-PluginInfo-Author=EndeavourOS
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=info@endeavouros.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 2+
X-KDE-PluginInfo-Name=com.endeavouros.breezedarkeos.desktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=www.endeavouros.com
X-KDE-ServiceTypes=Plasma/LookAndFeel

[Wallpaper]
defaultWallpaperTheme=EndeavourOS
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160

