name: Build EndeavourOS ISO

on:
  schedule:
    - cron: "0 0 * * 6"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
      contents: write

    container:
      image: archlinux:latest
      options: --privileged

    steps:
      - uses: actions/checkout@v2

      - name: Set current date as environment variable
        run: echo "DATE=`date +'%Y.%m.%d'`" >>$GITHUB_ENV

      - name: Update packages and install archiso
        run: pacman -Syu --noconfirm archiso mkinitcpio-archiso git squashfs-tools 

      - name: Build ISO
        run: bash build.sh
      
      - uses: actions/upload-artifact@v2
        with:
          name: EndeavourOS ${{ env.DATE }}
          path: out/*
        
      - name: Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ env.DATE }}
          prerelease: false
          title: "EndeavourOS"
          files: |
            out/*
            
